@import "https://fonts.googleapis.com/css?family=Lato&display=swap";
.nuxt-progress{position:fixed;top:0;left:0;right:0;height:2px;width:0;opacity:1;transition:width .1s,opacity .4s;background-color:#5865f2;z-index:99999}

.nuxt-progress

.nuxt-progress-notransition{transition:none}

.nuxt-progress-failed{background-color:red}

a{color:#5865f2;text-decoration:none}

body{
--cmpBgColor:#202225;
--cmpTextColor:#fff;
--cmpLinkColor:#5865f2;
--cmpPurposesColor:#fff;
--cmpBrandColor:#5865f2;
--cmpLogo:url(https://free-cord.ga/static/img/discordbotlist-transparent.a1bdf59.svg);
color:#fff;
background-color:#2f3136;
font-family:Lato,sans-serif;
overflow-x:hidden}

.dropdown-menu{
outline:none;
background-color:#282b30!important;
color:#fff!important;
max-width:165px;
max-height:300px;
overflow-x:hidden}

.dropdown-menu
.dropdown-item.active,
.dropdown-item:hover{
background-color:#25282d}
.dropdown-menu a{
color:#fff!important}
.btn-blurple{
color:#fff;
background-color:#5865f2;
border-color:#5865f2}
.btn-blurple:hover{
color:#fff!important;
background-color:#5470d2;
border-color:#4a67cf}
.fa-blurple{
color:#5865f2}
.badge-blurple{
background-color:#5865f2;
color:#fff}
.badge{margin-right:5px}
.card{background-color:#202225}
.card-body{padding:0}
.text-muted{color:#adadad!important}
.discord-divider{
margin:32px 0;
width:100%;
height:1px;
border-top:thin solid hsla(0,0%,100%,.06)}
.discord-textbox,
.discord-textbox:focus{
font-size:14px;
color:#fff;
border:1px solid #1a1a1a;
background:#2b2f33;
border-radius:3px;
padding:10px;
margin-top:1px;
margin-bottom:1px}
div.discord-textbox,
div.discord-textbox
:focus{
display:inline;
padding-right:0}
div.discord-textbox
.discord-textbox,
div.discord-textbox
:focus
.discord-textbox{display:inline;
border:none;
width:auto}
.page-link{
background-color:#292b2f!important;
border-color:#202225!important;
color:#b9bbbe!important}
.page-link.nuxt-link-exact-active{
color:#5865f2!important}
.bot-long-desc img{max-width:100%}
@media(max-width:575.98px){
.col-12 
.bot-card{
margin-left:auto;
margin-right:auto}}
pre code{color:#e83e8c!important}
.head-page{
width:100%;
background-color:#202225;
padding-top:20px;
margin-bottom:10px;
padding-bottom:20px}
.fp-tag{font-size:16px}
.tags span{display:inline-block}
.search-box{width:90%}
@media(max-width:575.98px){
.search-box{width:100%}
}
.default-server-icon{
border-radius:12px;
background-color:#2f3136;
width:60px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
color:#fff;
text-decoration:none}
.status{display:inline-block;
width:8px;
height:8px;
border-radius:8px;
margin-right:2px}
.status.online{background-color:#43b581}
.status.offline{background-color:#747f8d}
.members{font-size:12px}
.members
.status
.offline{margin-left:2px}
.markdown{word-wrap:break-word}
.markdown img{max-width:100%}
.main-content[data-v-57a0413a]
{min-height:calc(100vh - 217px);
padding-bottom:30px}
nav[data-v-040e6e64]
{background-color:#202225}
img.logo[data-v-040e6e64]
{width:40px;margin-right:5px}
.nav-item .nuxt-link-exact-active[data-v-040e6e64]
{border-bottom:2px solid #5865f2}
.nav-item a[data-v-040e6e64]
{color:#fff!important}
.user-avatar[data-v-040e6e64]
{margin-right:5px}
.twitter[data-v-040e6e64]
{margin-top:auto;
margin-bottom:auto}
.ad[data-v-2caa20bc]
{display:flex;
flex-direction:column;
margin-top:10px;
margin-bottom:10px}
.ad
.placement[data-v-2caa20bc]
{margin:0 auto}
#nn_mobile_lb2[data-v-2caa20bc]
{min-width:350px;min-height:50px}
#nn_mobile_mpu1[data-v-2caa20bc],
#nn_mobile_mpu2[data-v-2caa20bc],
#nn_mobile_mpu3[data-v-2caa20bc],
#nn_mpu1[data-v-2caa20bc]
{min-width:250px;min-height:250px}
#nn_lb1[data-v-2caa20bc],
#nn_lb2[data-v-2caa20bc],
#nn_lb3[data-v-2caa20bc],
#nn_lb4[data-v-2caa20bc]
{min-width:300px;
min-height:90px}
#nn_player[data-v-2caa20bc]
{min-width:300px;
min-height:196.88px}
#nn_mpu2[data-v-2caa20bc],
#nn_mpu3[data-v-2caa20bc]
{min-width:300px;
min-height:600px}
#nn_skinl[data-v-2caa20bc],
#nn_skinr[data-v-2caa20bc]
{position:absolute;
left:50%;
top:100px;
margin-left:-890px}
#nn_skinr[data-v-2caa20bc]
{margin-left:590px}
.footer[data-v-26cc1ab0]
{width:100%;
min-height:150px;
background-color:#202225;
padding-top:20px}
.list-head[data-v-26cc1ab0]
{color:#fff;
margin-bottom:5px;
font-size:1.2em;
line-height:1.2}
li[data-v-26cc1ab0]
{list-style-type:none}
ul[data-v-26cc1ab0]
{padding:0}
a[data-v-26cc1ab0]
{text-decoration:none;color:#fff}
.disclaimer[data-v-26cc1ab0]{font-size:12px}
.main-content[data-v-5c8101f4],
.main-content[data-v-5e4f759f],
.main-content[data-v-55bf4ae5],
.main-content[data-v-374d9389],
.main-content[data-v-56141ba3]{min-height:calc(100vh - 217px);padding-bottom:30px}